<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bookmarks-API Client</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <h1 id="app-title">Bookmarks-API Client</h1>
    <h2 id="app-subtitle">LISTED BOOKMARKS</h2>
    <div id="app">
        <a href="insert.html">Insertar</a>
        <a href="list.html">Listar</a>
    </div>
    <script type="text/javascript" src="assets/js/script.js"></script>
</body>

</html>