<!DOCTYPE html>
<html lang="en">

<head>
    <title>API-Bookmarks / LIST</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="assets/css/normalize.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:900" rel="stylesheet">
</head>

<body>
    <!--
    <div>
        <img class="fixed" src="assets/prototipo/large.png" alt="">
    </div>
   -->
    <div class="nav">
        <div>
            <h1 class="nav-logo">Bookmarkr.io</h1>
        </div>
        <div>
            <input class="nav-searchbox" type="text" name="search" value="Search">
        </div>
    </div>
    <div class="menu-icon">
        <div class="circle-icon">
        </div>
    </div>
    <div class="content-wrapper">
        <div id="bookmarks">
            <ul id="bm-list">
                <li>
                    <h1 style="text-align: right;font-size: 6em;margin-bottom: 0;">Category</h1>
                </li>
                <li>
                    <input class="bg-gold" type="submit" name="randomBookmark" value="Gimme a random bookmark" onclick="location.href='random.html'">
                    <input class="bg-gold" type="submit" name="list" value="List all bookmarks" onclick="location.href='list.html'">
                    <input class="bg-gold" type="submit" name="create" value="Create a new bookmark" onclick="location.href='create.html'">
                </li>
                <li class="bm">
                    <div class="row">
                        <div class="bm card">
                            <div class="wrapper">
                                <div class="date-added">
                                    <p class="date">2017-01-11T16:24:39.008Z</p>
                                </div>
                                <div class="data">
                                    <div class="content"><span class="category"></span>
                                        <h1 class="title">wajahatkarim3/EasyFlipView: A quick and easy flip view through which you can create views with two sides like credit cards, poker cards etc.</h1>
                                        <div class="bm-tag-cloud"><input type="submit" value="thisisatag"><input type="submit" value="thisisatag"><input type="submit" value="thisisatag"><input type="submit" value="thisisatag"></div><a class="url" href="https://github.com/wajahatkarim3/EasyFlipView">https://github.com/wajahatkarim3/EasyFlipView</a>
                                        <p class="text">Going to catch the red dot today going to catch the red dot today under the bed, so poop on grasses ignore the squirrels, you'll never catch them anyway yet jump around on couch, meow constantly until given food,
                                            or burrow under covers. Kitty scratches couch bad kitty. Groom yourself 4 hours - checked, have your beauty sleep 18 hours - checked, be fabulous for the rest of the day - checked! spit up on light gray carpet
                                            instead of adjacent linoleum so climb a tree, wait for a fireman jump to fireman then scratch his face for poop on grasses. Scratch the postman wake up lick paw wake up owner meow meow cats secretly make all
                                            the worlds muffins, and go into a room to decide you didn't want to be in there anyway.</p><label class="menu-button"></label></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>



    </div>

    <script type="text/javascript" src="assets/js/bookmarksList.js"></script>

</body>

</html>