<!DOCTYPE html>
<html lang="en">

<head>
    <title>API-Bookmarks / RANDOM</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="assets/css/normalize.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:900" rel="stylesheet">
</head>

<body>
    <!--
    <div>
        <img class="fixed" src="assets/prototipo/large.png" alt="">
    </div>
   -->
    <div class="nav">
        <div>
            <h1 class="nav-logo">Bookmarkr.io</h1>
        </div>
        <div>
            <input class="nav-searchbox" type="text" name="search" value="Search">
        </div>
    </div>
    <div class="menu-icon">
        <div class="circle-icon">
        </div>
    </div>
    <div class="content-wrapper">
        <div id="bookmarks">
            <ul id="bm-list">
                <li>
                    <h1 style="text-align: right;font-size: 6em;margin-bottom: 0;">Random</h1>
                </li>
                <li>
                    <input class="bg-gold" type="submit" name="anotherRandom" value="Gimme another bookmark" onclick="location.reload();">
                    <input class="bg-gold" type="submit" name="list" value="List all bookmarks" onclick="location.href='list.html'">
                    <input class="bg-gold" type="submit" name="create" value="Create a new bookmark" onclick="location.href='create.html'">

                </li>
            </ul>
        </div>



    </div>

    <script type="text/javascript" src="assets/js/bookmarkRandom.js"></script>

</body>

</html>